<!DOCTYPE html>
<html>
  <head>
    <title>Gossip Girls</title>
    <link rel='stylesheet' href='/stylesheets/documents.css' />
  </head>
  <body>
      <div class="dropdown">
        <button onclick="drop()" class="notification">Notifications</button>
        <div id="myDropdown" class="dropdown-content">
            <% for(var i = 0; i < notifications.length; ++i) { %>
                <a href="/documents/<%= notifications[i].from %>"><%= notifications[i].notification %></a>
            <% } %>
            <% if(notifications.length == 0) { %>
                <a href='#'>No Notifications</a>
            <% } %>
        </div>
      </div>
      <% if (docs.length) { %>
        <h2> Documents available: </h2>
      <% } %>
      <ul>
      <% for(var i = 0; i < docs.length; ++i) { %>
        <li> <a href="/documents/<%= docs[i].name %>"> <%= docs[i].name %> </a> </li>
      <% } %>
      </ul>
      <% if(!subscribed) { %>
        <form method="post">
            <button name="subscribe" value="true">Subscribe</button>
        </form>
      <% } %>
      <h1>Add A New Document</h1>
      <form method="post">
        <input type="text" name="name" placeholder="Document Name"><br>
        <input type="text" name="fname" placeholder="First Name"><br>
        <input type="text" name="lname" placeholder="Last Name"><br>
        <input type="text" name="age" placeholder="Age"><br>
        <input type="text" name="mobile" placeholder="Mobile Number"><br><br>
        <% if (error) { %>
            <p class='error'><%= error %><p>
        <% } %>
        <button type="submit" name="add">Add</button>
    </body>
    <script>
      function drop() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
        if (!event.target.matches('.notification')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
</html>